@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

a {
    @apply text-blue-700 dark:text-yellow-400;
}

@layer components {
    .layout-col {
        @apply w-full flex flex-col gap-2;
    }

    .layout-col--start {
        @apply justify-start;
    }

    .layout-col--center {
        @apply justify-center items-center;
    }
}

.ember-power-select-multiple-option {
    @apply bg-blue-700 dark:bg-yellow-400 text-white dark:text-slate-800 rounded;
}

.ember-power-select-trigger {
    border: none;
}
