<div
    class='bg-yellow-200 dark:bg-yellow-800 p-3 rounded flex flex-col items-center w-full'
>
    <HeroIcon
        class='w-10 stroke-yellow-800 dark:stroke-yellow-200'
        @icon='exclamation-triangle'
    />
    The bar is heavier than your target weight. Please, enter a different weight
    or pick another bar.
</div>