<button
    type='button'
    class='bg-blue-700 dark:bg-yellow-400 text-white dark:text-slate-800 font-bold rounded p-2 w-full disabled:opacity-50 disabled:bg-gray-400'
    ...attributes
>
    {{yield}}
</button>