<div
    class='layout-col layout-col--center rounded p-4 border-0 dark:bg-zinc-800 bg-white'
>
    <span class='font-bold'>{{@name}}</span>
    <span class='font-bold text-3xl'>{{@value}}lbs</span>
</div>